<html>
	<body>
		<h1>Active Status Bars</h1>
		<% @status_bars.each do |status_bar|%>
			<li><%=status_bar.try(:keys).try(:first)%>:<%= status_bar.try(:values).try(:first).inspect %></li>
		<% end %>
	</body>
</html>